*{
    box-sizing: border-box;
}
body{
    font-family: 'Mulish', sans-serif;
    font-size: 16px;
    font-weight: 400;
    overflow-y: auto;
}

.header{
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 32px;
    padding-right: 32px;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    background-color: #fff;
    z-index: 99;
}

.menu-button{
    width: 20px;
    height: 17px;
    border: none;
    padding: 0;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: transparent;
    margin-right: 28px;
}

.menu-line{
    display: block;
    width: 20px;
    height: 3px;
    background-color: #1F2022;
    border-radius: 20px;
}

.logo-link{
    display: inline-block;
    margin-right: 59px;
}
.logo{
    display: block;
}

.input-group{
    display: flex;
    background: #EBEBEB;
    border-radius: 22px;
    justify-content: space-between;
    align-items: center;
    padding-right: 17px;
    max-width: 830px;
    width: 50%;
    margin-right: 40px;
}

.input-search{
    background-color: transparent;
    border: none;
    outline: none;
    padding: 12px 23px;
    width: 100%;
}

.button-search{
    width: 19px;
    height: 19px;
    border: none;
    background-color: transparent;
    padding: 0;
    cursor: pointer;
    
}
.icon-search{
    fill: #000;
}
.icons{
    display: flex;
    align-items: center;
    margin-left: auto;
}

.icon-link{
    text-decoration: none;
    opacity: 0.24;
}

.icon-link:hover{
    opacity: 0.7;
}

.icon-link:not(:last-child){
    margin-right: 50px;
}

.user{
    margin-left: 45px;
}

.user-avatar{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.sidebar{
    padding-left: 32px;
    width: 230px;
    position: fixed;
    left: 0;
    top: 114px;
    height: calc(100% - 114px);
    overflow-y: auto;
    background-color: #fff;
    
}

.content{
    width: 100%;
    margin-top: 85px;
    padding-left: 250px;
    padding-top: 30px;
    padding-right: 32px;
}
body::-webkit-scrollbar{
    display: none;
}

.nav-menu{
    padding: 0;
    margin: 0;
    list-style: none;
    margin-bottom: 60px;
}

.nav-link{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #898989;
}

.nav-link:hover{
    color:#FF0000;
}
.nav-link:hover .icon{
    fill:#FF0000;
}

.nav-item .icon{
    fill: #898989;
}

.nav-item:not(:last-child){
    margin-bottom: 28px;
}

.nav-text{
    margin-left: 13px;
}

.nav-title{
    font-size: 18px;
    line-height: 23px;
    margin-bottom: 30px;
}
.nav-image{
    width: 26px;
    height: 26px;
    border-radius: 50%;
}
.channel-title{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #19202C;
    font-weight: bold;
    font-size: 26px;
    line-height: 33px;
    width: 205px;
}
.channel{
    position: relative;
    margin-bottom: 50px;
}
.channel-avatar{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.channel-text{
    margin-left: 20px;
}

.video-thumb{
    width: 100%;
    height: 150px;
    overflow: hidden;
    border-radius: 14px;
    position: relative;
}

.thumbnail{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.video-duration{
    color: #fff;
    font-size: 14px;
    line-height: 18px;
    position: absolute;
    right: 10px;
    bottom: 10px;
    background: rgb(0, 0, 0, 0.3);
    border-radius: 12px;
    padding: 3px 9px;
}

.video-title{
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    color: #19202C;
    margin-top: 10px;
    margin-bottom: 4px;
}

.video-info{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 13px;
    line-height: 16px;
    color: #C2C2C2;
}
.video-counter{
    display: flex;
}

.video-views{
    margin-right: 5px;
}

.video-views::after{
    content: '';
    width: 2px;
    height: 2px;
    background-color: #C2C2C2;
    display: inline-block;
    vertical-align: middle;
    margin-left: 5px;
    
}

.swiper-slide{
    cursor: pointer;
}

.channel-button{
    cursor: pointer;
}

.slider-buttons{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 66px;
    position: absolute;
    right: 1%;
    top: 12px;
}

.recommend-text{
    margin-left: 0;
}

.recommend-slide{
    margin-right: 12%;
}

.recommend-thumb{
    height: 250px;
}

.recommend-channel-title{
    width: 45%;
}

.recommend-group{
    display: flex;
    align-items: baseline;
}

.recommend-channel-text{
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: #C2C2C2;
    margin-left: 19px;
}

.button-subsriptions{
    border: none;
    outline: none;
    padding: 0;
    background: #FF0000;
    border-radius: 20px;
    padding: 10px 20px;
    cursor: pointer;
    margin-left: auto;
    margin-right: 120px;
}

.subsciptions-count{
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
}

.channel-header{
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    justify-content: space-between;
}
.mobile-sidebar{
    display: none;
}
.mobile-search{
    display: none;
}

@media (max-width:1400px){
    .recommend-channel-title{
        width: 100%;
    }
    .channel-header{
        flex-wrap: wrap;
    }
    .channel-title{
        font-size: 23px;
        line-height: 27px;
    }
    .button-subsriptions{
        margin-top: 20px;
        margin-left: 0;
    }
    
}
@media (max-width:860px){
    .icons{
        display: none;
    }
    .user{
        margin-left: auto;
    }
    .recommend-group{
        flex-direction: column;
        margin-top: 20px;
        margin-bottom: 20px;
        align-items: center;
    }
    .recommend-channel-title{
        flex-direction: column;
    }
    .channel-header{
        display: block;
        text-align: center;
    }
    .button-subsriptions{
        margin: 0;
    }
    .recommend-channel-text{
        margin-top: 20px;
    }
    
}
@media (max-width:640px){
    .swiper-wrapper{
        display: flex;
        flex-direction: column;
    }
    .swiper-slide{
        margin-bottom: 40px;
    }
    .slider-buttons{
        display: none;
    }
    .video-thumb{
        height: 300px;
    }
    .menu-button{
        display: none;
    }
    .input-group{
        position: fixed;
        top: -100px;
        left: 0;
        opacity: 0;
        width: 68%;
        margin-left: 25px;
        transition: top 0.2s;
    }
    .input-group.is-open{
        opacity: 1;
        top: 20px;
    }
    .sidebar{
        display: none;
    }
    .content{
        padding-left: 32px;
    }
    .mobile-sidebar{
        display: block;
        position: fixed;
        z-index: 99;
        bottom: 0;
        left: 0;
        width: 100%;
        background-color: #fff;
    }
    .mobile-sidebar .nav-link{
        display: flex;
        flex-direction: column;
    }
    .nav-text{
        margin-left: 0;
    }
    .mobile-sidebar .nav-menu{
        margin-bottom: 0;
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding-top: 13px;
        padding-bottom: 11px;
        border-top: 1px solid #F1F1F1;;
    }
    .nav-text{
        font-size: 10px;
        line-height: 13px;
    }
    .mobile-sidebar .nav-item{
        margin-bottom: 0;
    }
    .mobile-search{
        display: block;
        margin-left: auto;
    }
    .user{
        margin-left: 20px;
    }

    .recommend-channel-title{
        width: 100%;
        display: block;
        text-align: center;
    }
    .recommend-group{
        display: block;
        text-align: center;
    }
    .channel-text,.recommend-channel-text{
        display: block;
    }
    .button-subsriptions{
        margin: auto;
    }
    
    .channel-header{
        flex-wrap: wrap;
    }
}
